<div class="box-content-des-info">
  <div class="detail-title-box">
    <div class="title-select-name">Giới thiệu sách</div>
  </div>
  <div [ngClass]="showFullDesc ? 'box-show-des show-full-des' : 'box-show-des'">
    <p>Nội Dung Truyện : <strong>{{book.title}}</strong>
    </p>
    <p [innerHTML]="book.introduce"></p>
  </div>
  <div *ngIf="!showFullDesc" class="c-content-readmore">
    <a (click)="toggleDesc()" class="content-readmore" rel="nofollow" style="display: inline-block;">Xem thêm</a>
  </div>
</div>