<div class="box-content-des-info">
  <div class="detail-title-box">
    <div class="title-select-name">Giới thiệu sách</div>
  </div>
  <div class="box-show-des">
    <p>Nội Dung Truyện : <strong>Phòng Sách Lúc Nửa Đêm</strong>
    </p>
    <p>Có một phòng sách chỉ cho phép bạn ghé thăm&nbsp;lúc nửa đêm.<br><br>Xin chào mừng!</p>
  </div>
  <div class="c-content-readmore">
    <a onclick="toggleDesc()" class="content-readmore" rel="nofollow" style="display: inline-block;">Xem
      thêm</a>
  </div>
</div>