@import "../../assets/theme/theme-variables";
.error-page {
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  padding: 100px 0;
  .top-error {
    text-align: center;
    margin-bottom: 20px;
    .img-404 {
      margin-bottom: 20px;
      img {
        width: 200px;
      }
    }
    .hl-page {
      width: 100%;
      display: block;
      font-size: 31px;
      color: $primary-color;
      margin-bottom: 20px;
    }
    p {
      font-size: 13px;
      line-height: 1.6;
      a {
        font-size: 13px;
        color: $primary-color;
        font-weight: 400;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
