<div class="box-reading {{themeSetting}}">
  <div class="read-breadcrumb">
    <div class="wrap">
      <div class="readcontent" id="zreadcontent">
        <div class="breadcrumb-content">
          <span typeof="v:Breadcrumb">
            <a [routerLink]="'/'" rel="v:url" property="v:title" alt="Doc sach" title="Đọc sách"
              target="_blank">Truyện</a>
          </span>
          <i class="truyenn-icon_small_next"></i>
          <span typeof="v:Breadcrumb">
            <a [routerLink]="reading.book.name" rel="v:url" property="v:title"
              [title]="reading.book.name">{{reading.book.name}}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="reading">
    <div class="wrap">
      <div class="readcontent" id="zreadcontent">
        <div class="reading-des" id="reading-height">
          <div class="top-button">
            <a routerLink="" class="btn-chapter-pre disable" title="Xem chương trước đó">Chương trước</a>
            <a (click)="toggleSetting()" class="btn-setting-read" title="Tùy chỉnh đọc" rel="nofollow"></a>
            <a (click)="toggleChapterMenu()" class="btn-chapter-read" title="Danh sách chương"></a>
            <a routerLink="'/phong-sach-luc-nua-dem/chuong-2'" class="btn-chapter-next "
              title="Xem chương kế tiếp">Chương Kế Tiếp</a>
          </div>
          <div class="prelative {{alignSetting}}" id="prelativeh">
            <div id="font-container" class="{{fontSetting}}">
              <div class="bg-guide active"></div>
              <h2 class="lh-name-chapter">{{reading.title}}</h2>
              <div class="content-des-info fs{{sizeSetting}}">
                <div id="read-content" [innerHTML]="reading.content"></div>
              </div>
            </div>
          </div>
          <div id="top-button-bottom" class="top-button">
            <a routerLink="" class="btn-chapter-pre disable" title="Xem chương trước đó">Chương trước</a>
            <a routerLink="'/phong-sach-luc-nua-dem/chuong-2'" class="btn-chapter-next "
              title="Xem chương kế tiếp">Chương Kế Tiếp</a>
          </div>
          <div class="box-bottom-fun" style="height: 40px;">
          </div>
        </div>
      </div>
      <div [ngClass]="{'right-control-action': true, 'hide': !displayControlAction}">
        <div class="list-menu-action">
          <a (click)="toggleSetting()" class="btn-setting-read" title="Tùy chỉnh đọc"></a>
          <a (click)="toggleChapterMenu()" class="btn-chapter-read" title="Danh sách chương"></a>
          <a href="" class="btn-chapter-pre" title="Xem chương trước đó"></a>
          <a href="/phong-sach-luc-nua-dem/chuong-2" class="btn-chapter-next" title="Xem chương kế tiếp"></a>
        </div>
      </div>
      <div id="read-setting" [ngClass]="{'right-show-fun': true, 'hide': !readSetting}">
        <div class="read-popup-control">
          <a (click)="toggleSetting()" class="btn-close" rel="nofollow"></a>
          <div class="list-tab">
            <a href="#" class="active" rel="nofollow">Tùy chỉnh đọc</a>
          </div>
          <div class="list-control-fun">
            <div class="group-fun">
              <div class="left-title">Phông nền:</div>
              <div id="theme-buttons" class="list-field-select">
                <a (click)="updateTheme('style-white')"
                  [ngClass]="{'linkBgColor style-white-btn': true, 'active': themeSetting === 'style-white'}"
                  title="Chọn phông sáng"></a>
                <a (click)="updateTheme('style-graygold')"
                  [ngClass]="{'linkBgColor style-graygold-btn': true, 'active': themeSetting === 'style-graygold'}"
                  title="Chọn phông vàng"></a>
                <a (click)="updateTheme('style-dark')"
                  [ngClass]="{'linkBgColor style-dark-btn': true, 'active': themeSetting === 'style-dark'}"
                  title="Chọn phông tối"></a>
              </div>
            </div>
            <div class="group-fun">
              <div class="left-title">Phông chữ:</div>
              <div id="font-btns" class="list-field-select">
                <a (click)="updateFont('f-bookerly')"
                  [ngClass]="{'linkfun fontfBookerly': true, 'active': fontSetting === 'f-bookerly'}"
                  title="Chọn font Bookerly">Bookerly</a>
                <a (click)="updateFont('.f-minion')"
                  [ngClass]="{'linkfun fontfMinion': true, 'active': fontSetting === '.f-minion'}"
                  title="Chọn font Minion">Minion</a>
                <a (click)="updateFont('f-nunito')"
                  [ngClass]="{'linkfun fontfNunitoSans': true, 'active': fontSetting === 'f-nunito'}"
                  title="Chọn font Nunito Sans">Nunito Sans</a>
                <a (click)="updateFont('f-roboto')"
                  [ngClass]="{'linkfun fontfRoboto': true, 'active': fontSetting === 'f-roboto'}"
                  title="Chọn font Roboto">Roboto</a>
                <a (click)="updateFont('f-merriweather')"
                  [ngClass]="{'linkfun fontfMerriweather': true, 'active': fontSetting === 'f-merriweather'}"
                  title="Chọn font Merriweather">Merriweather</a>
              </div>
            </div>
            <div class="group-fun">
              <div class="left-title">Cỡ chữ:</div>
              <div id="font-size-btns" class="list-field-select">
                <a (click)="decreaseFontSize()" class="fzsmall" title="Chọn màn hình 640">A-</a>
                <span class="fz-out">{{sizeSetting}}</span>
                <a (click)="increaseFontSize()" class="fzbig" title="Chọn màn hình 800">A+</a>
              </div>
            </div>
            <div class="group-fun  margin-bottom-10">
              <div class="left-title">Canh chữ:</div>
              <div id="align-text-btns" class="list-field-select">
                <a (click)="updateTextAlign('t-align-left')"
                  [ngClass]="{'linkfun': true, 'active': alignSetting === 't-align-left'}"
                  title="Chọn kiểu đọc Qua trang">Canh trái</a>
                <a (click)="updateTextAlign('t-align-justify')"
                  [ngClass]="{'linkfun': true, 'active': alignSetting === 't-align-justify'}"
                  title="Chọn kiểu đọc Cuộn trang">Canh đều</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="read-chapter-menu" [ngClass]="{'right-show-fun': true, 'hide': !readChapterMenu}">
        <div class="read-popup-chapter " id="leftFunItemContent">
          <a (click)="toggleChapterMenu()" class="btn-close"></a>
          <a (click)="showChapterSearch();" class="btn-search"></a>
          <div id="chapter-search-container" [ngClass]="{'fun_search_chapter': true, 'hide': !displayChaperSearch }">
            <div class="box-input">
              <input id="txtChapterNumber" type="text" class="i-search" placeholder="Nhập tên chương hay số chương cần tìm" />
              <a class="b-search" onclick="findChapter()" title="Tìm kiếm"></a>
            </div>
            <a (click)="hideChapterSearch();" class="b-search-cancel" title="Hùy tìm">Hủy</a>
          </div>
          <div class="list-tab">
            <a (click)="showChapterSearch();" class="active">Danh sách chương</a>
          </div>
          <div id="chapter-list" class="list-item-chapter" style="float:left; width:100%; overflow-x: scroll">
            <ul id="contentArea" tabindex="0" style="counter-increment: clusterize-counter 0;">
              <li *ngFor="let item of chapters, let i = index" id="chapter-number-{{i+1}}">
                <a [routerLink]="item.link" [ngClass]="{'active': item.link == currentUrl}">{{item.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>