<div class="box-top-novel">
  <div class="wrap">
    <div class="container">
      <div class="tile-main-title">
        <div class="box-icon"> <i class="truyenn-icon_hot"></i> </div>
        <div class="box-txt-show">
          <h2>{{title}}</h2>
        </div>
      </div>
      <div class="box-full-book">
        <ul class="box-subject-book">
          <li *ngFor="let item of data">
            <a [routerLink]="item.url" class="img-left" [title]="item.title">
              <div class="box-absolute fn-shadow">
                <div class="img">
                  <img class="lozad" [title]="item.title" [alt]="item.title" [src]="item.image" />
                </div>
              </div>
            </a>
            <div class="box-book-info">
              <h3 class="font-title">
                <a [routerLink]="item.url" class="name-book ellipsis-1" [title]="item.title">{{item.title}}</a>
              </h3>
              <p class="zl" *ngIf="item.rate">
                <span>Đánh giá: </span>
                <span class="mh-star-line star-{{item.rate}}"></span>
              </p>
              <h4 class="show-author">
                <a [routerLink]="item.authorUrl" class="name-author ellipsis-1" [title]="item.authorTitle">{{ item.author }}</a>
              </h4>
              <span class="label-full" *ngIf="item.fullLabel">{{item.fullLabel}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>