<div class="detail">
  <div class="wrap">
    <div class="container">
      <div class="detail-top">
        <span typeof="v:Breadcrumb">
          <a href="/" rel="v:url" property="v:title" alt="Doc sach" title="Đọc sách" target="_blank">Truyện nhiều</a>
        </span> <i class="truyenn-icon_small_next"></i>
        <span typeof="v:Breadcrumb">

          <a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" rel="v:url" property="v:title" alt="Ngôn Tình"
            title="Ngôn Tình" target="_blank">Ngôn Tình</a>
        </span>
      </div>
      <!--begin detail left-->
      <h1 class="hl-name-book">Phòng Sách Lúc Nửa Đêm</h1>
      <div class="detail-header">
        <!--begin top detail left-->
        <div class="book-thum">

          <a href="/phong-sach-luc-nua-dem/chuong-1" class="img-left">
            <div class="box-absolute fn-shadow">
              <div class="img"><img
                  src="https://res.cloudinary.com/tncdn10/image/upload/v1576247451/truyen/phong-sach-luc-nua-dem.jpg"
                  alt="Phong Sach Luc Nua Dem - Thanh Khiet Xa"></div>
              <span class="item-mask-bg"></span>
            </div>
          </a>
        </div>
        <div class="book-list-field">
          <div class="l-book-list-field">
            <div class="info-book">
              <div class="l-if-book">Tác giả</div>
              <div class="r-if-book">
                <a href="/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a" title="Tác giả Thanh Khiết Xà">Thanh Khiết
                  Xà</a>
              </div>
            </div>
            <div class="info-book">
              <div class="l-if-book">Thể loại</div>
              <div class="r-if-book">

                <a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" title="thể loại Ngôn Tình">Ngôn Tình</a>,

                <a href="/the-loai/do-thi/5bdec27dc551731a60abe201" title="thể loại Đô Thị">Đô
                  Thị</a>

              </div>
            </div>

            <div class="info-book">
              <div class="l-if-book">Trạng thái</div>
              <div class="r-if-book"><span class="status-chapter full">Đang ra</span></div>
            </div>
            <div class="info-book">
              <div class="l-if-book">Like ngay</div>
              <div class="r-if-book">
                <div class="fb-like fb_iframe_widget" data-href="https://truyennhieu.com/phong-sach-luc-nua-dem"
                  data-layout="button_count" data-action="like" data-size="small" data-show-faces="true"
                  data-share="true" fb-xfbml-state="rendered"
                  fb-iframe-plugin-query="action=like&amp;app_id=2208726549448975&amp;container_width=610&amp;href=https%3A%2F%2Ftruyennhieu.com%2Fphong-sach-luc-nua-dem&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
                  <span style="vertical-align: bottom; width: 138px; height: 20px;"><iframe name="f2c8ed6b7370028"
                      width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0"
                      allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                      src="https://www.facebook.com/v3.2/plugins/like.php?action=like&amp;app_id=2208726549448975&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Dfb65a117f1bf58%26domain%3Dtruyennhieu.com%26origin%3Dhttps%253A%252F%252Ftruyennhieu.com%252Ff3ced92c6a4ff2%26relation%3Dparent.parent&amp;container_width=610&amp;href=https%3A%2F%2Ftruyennhieu.com%2Fphong-sach-luc-nua-dem&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"
                      style="border: none; visibility: visible; width: 138px; height: 20px;" class=""></iframe></span>
                </div>
              </div>
            </div>
            <div class="btn-list-action">
              <a href="/phong-sach-luc-nua-dem/chuong-1" class="btn-action btn-readbook btn-fist-read">Đọc Từ Đầu</a>

              <a href="/phong-sach-luc-nua-dem/chuong-157" class="btn-action  btn-readbook btn-new-chapter">Đọc Mới
                Nhất</a>
              <a onclick="return scrollToMenuOfChapters()" class="btn-boder-action btn-chapter-list" rel="nofollow">Mục
                lục</a>
            </div>
          </div>
          <div class="list-new-chapter">
            <div class="title-chapter">Các chương mới nhất</div>
            <ul class="list-chapter">


              <li>
                <a href="/phong-sach-luc-nua-dem/chuong-157"
                  title="Phòng Sách Lúc Nửa Đêm - Chương 157: Có tiền thì có quyền">
                  Chương 157: Có tiền thì có quyền
                </a>
              </li>

              <li>
                <a href="/phong-sach-luc-nua-dem/chuong-156"
                  title="Phòng Sách Lúc Nửa Đêm - Chương 156: Hồng hạnh xuất tường">
                  Chương 156: Hồng hạnh xuất tường
                </a>
              </li>

              <li>
                <a href="/phong-sach-luc-nua-dem/chuong-155" title="Phòng Sách Lúc Nửa Đêm - Chương 155: Có quỷ!">
                  Chương 155: Có quỷ!
                </a>
              </li>

              <li>
                <a href="/phong-sach-luc-nua-dem/chuong-154"
                  title="Phòng Sách Lúc Nửa Đêm - Chương 154: Mau sớm tỉnh ngộ!">
                  Chương 154: Mau sớm tỉnh ngộ!
                </a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-detail">
  <div class="wrap">
    <div class="container">

      <!--begin left-->
      <div class="left-detail">
        <!--begin des info-->
        <div class="box-content-des-info">
          <div class="detail-title-box">
            <div class="title-select-name">Giới thiệu sách</div>
          </div>
          <div class="box-show-des">
            <p>Nội Dung Truyện : <strong>Phòng Sách Lúc Nửa Đêm</strong>
            </p>
            <p>Có một phòng sách chỉ cho phép bạn ghé thăm&nbsp;lúc nửa đêm.<br><br>Xin chào mừng!</p>
          </div>
          <div class="c-content-readmore">
            <a onclick="toggleDesc()" class="content-readmore" rel="nofollow" style="display: inline-block;">Xem
              thêm</a>
          </div>
        </div>
        <!--end des info-->
        <!--begin top chapter-->
        <div class="box-list-chapter">
          <div class="detail-title-box">
            <div class="title-select-name">Danh sách chương</div>
            <div style="position: absolute; right:0; top:3px">
              <div class="right-slect-field">
                <!-- <div class="custom-select-wrapper">
      <select name="sources" id="sources" class="custom-select sources" placeholder="Chương mới nhất" aria-label="Chọn thể loại" style="display: none;">
        <option value="all">Chương mới nhất</option>
        <option value="1">Chương củ nhất</option>
      </select>
      <div class="custom-select sources">
        <span class="custom-select-trigger">Chương mới nhất</span>
        <div class="custom-options">
          <span class="custom-option undefined" data-value="all">Chương mới nhất</span>
          <span class="custom-option undefined" data-value="1">Chương củ nhất</span>
        </div>
      </div>
    </div> -->
              </div>
            </div>
          </div>
          <div class="show-chapter">
            <form action="#" onsubmit="goToPageSubmit(event)">
              <div class="page-jum"><span class="title-jum">Chuyển nhanh đến trang</span>
                <input id="textChapterPage" type="text" class="i-page-jum" value="Nhập số trang"
                  onfocus="if (this.value == 'Nhập số trang') {this.value = ''; }">
                <a class="b-page-jum" onclick="manualSearch()" title="Đi"></a>
              </div>
            </form>
            <style type="text/css">
              a:hover {
                cursor: pointer;
              }
            </style>
            <div class="box-page-view">





              <a onclick="goto(0)" rel="previous" class="active">1</a>

              <a onclick="goto(1)" rel="previous" class="">2</a>

              <a onclick="goto(2)" rel="previous" class="">3</a>

              <a onclick="goto(3)" rel="previous" class="">4</a>



              <a onclick="goto(1)" rel="next"><i class="truyenn-icon_small_next"></i></a>
              <a onclick="goto(3)" rel="Trang cuối 4">4</a>


            </div>



            <div class="box-show-chapter">
              <ul class="list-chapter">

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-1"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 1: Đừng thiêu ta!">Chương 1: Đừng thiêu ta!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-2" title="Phòng Sách Lúc Nửa Đêm - Chương 2: Địa Ngục!">Chương
                    2: Địa Ngục!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-3"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 3: Người ở rể">Chương 3: Người ở rể</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-4"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 4: Không thể làm việc được">Chương 4: Không thể làm việc
                    được</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-5"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 5: Vợ chồng lạ lẫm">Chương 5: Vợ chồng lạ lẫm</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-6"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 6: Gặp bố mẹ!">Chương 6: Gặp bố mẹ!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-7"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 7: Bị dọa tè ra quần">Chương 7: Bị dọa tè ra quần</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-8"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 8: Cái đẩy tay lạnh băng!">Chương 8: Cái đẩy tay lạnh
                    băng!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-9"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 9: Bạn giống như Từ Lạc vậy!">Chương 9: Bạn giống như Từ
                    Lạc vậy!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-10"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 10: Lão Đại!">Chương 10: Lão Đại!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-11" title="Phòng Sách Lúc Nửa Đêm - Chương 11: Mặt nạ">Chương
                    11: Mặt nạ</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-12"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 12: Dự định!">Chương 12: Dự định!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-13"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 13: Khách hàng đầu tiên!">Chương 13: Khách hàng đầu
                    tiên!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-14"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 14: Bước sang năm mới!">Chương 14: Bước sang năm mới!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-15"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 15: Suy nghĩ về cuộc sống sau này">Chương 15: Suy nghĩ về
                    cuộc sống sau này</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-16"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 16: Lái xe đưa cho tôi">Chương 16: Lái xe đưa cho tôi</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-17"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 17: Đến cuối cùng, đã làm được những gì?">Chương 17: Đến
                    cuối cùng, đã làm được những gì?</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-18"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 18: Cơn bão đã trở lại!">Chương 18: Cơn bão đã trở lại!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-19"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 19: Không công bằng!">Chương 19: Không công bằng!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-20"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 20: Không bị sao thật không công bằng">Chương 20: Không bị
                    sao thật không công bằng</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-21"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 21: Con chó nói">Chương 21: Con chó nói</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-22"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 22: Sấm sét, tạo nên ngọn lửa!">Chương 22: Sấm sét, tạo nên
                    ngọn lửa!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-23" title="Phòng Sách Lúc Nửa Đêm - Chương 23: Này!">Chương
                    23: Này!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-24"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 24: Lão đạo!">Chương 24: Lão đạo!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-25" title="Phòng Sách Lúc Nửa Đêm - Chương 25: Lửa lửa">Chương
                    25: Lửa lửa</a>
                </li>

              </ul>
            </div>



            <div class="box-show-chapter">
              <ul class="list-chapter">

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-26"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 26: Bảy ngày đầu tiên">Chương 26: Bảy ngày đầu tiên</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-27"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 27: Bữa tiệc đêm khuya">Chương 27: Bữa tiệc đêm khuya</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-28"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 28: Anh nghĩ... Sẽ tiếp nhận tôi không?">Chương 28: Anh
                    nghĩ... Sẽ tiếp nhận tôi không?</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-29"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 29: Quá đáng sao?">Chương 29: Quá đáng sao?</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-30" title="Phòng Sách Lúc Nửa Đêm - Chương 30: Biu!">Chương
                    30: Biu!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-31"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 31: Môn Đăng Hộ Đối">Chương 31: Môn Đăng Hộ Đối</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-32"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 32: Ăn được, uống được">Chương 32: Ăn được, uống được</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-33"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 33: Nhân lúc còn nóng">Chương 33: Nhân lúc còn nóng</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-34"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 34: Nông Phu Sơn tuyền">Chương 34: Nông Phu Sơn tuyền</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-35"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 35: Ngài đã trở về">Chương 35: Ngài đã trở về</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-36"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 36: Ta là quỷ!">Chương 36: Ta là quỷ!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-37"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 37: Nhân sinh như mộng">Chương 37: Nhân sinh như mộng</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-38"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 38: Hài Nhi lên tiếng">Chương 38: Hài Nhi lên tiếng</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-39"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 39: Địa Ngục Chi Môn">Chương 39: Địa Ngục Chi Môn</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-40"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 40: Bách quỷ dạ hành">Chương 40: Bách quỷ dạ hành</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-41"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 41: Tình huống khó xử">Chương 41: Tình huống khó xử</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-42"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 42: Hiện trường tai nạn xe cộ">Chương 42: Hiện trường tai
                    nạn xe cộ</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-43"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 43: Không được, không thể!">Chương 43: Không được, không
                    thể!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-44"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 44: Bác sĩ Chu Trạch!">Chương 44: Bác sĩ Chu Trạch!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-45"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 45: Hung thủ giết người!">Chương 45: Hung thủ giết
                    người!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-46"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 46: Phẫn nộ cùng bi thương">Chương 46: Phẫn nộ cùng bi
                    thương</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-47"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 47: Đạt được những điều mong muốn!">Chương 47: Đạt được
                    những điều mong muốn!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-48"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 48: Hương 48: 300 năm chất lượng tốt">Chương 48: Hương 48:
                    300 năm chất lượng tốt</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-49"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 49: Thiên can vật táo, cẩn thận vật dễ cháy!">Chương 49:
                    Thiên can vật táo, cẩn thận vật dễ cháy!</a>
                </li>

                <li>
                  <a href="/phong-sach-luc-nua-dem/chuong-50"
                    title="Phòng Sách Lúc Nửa Đêm - Chương 50: Đằng kia...Một cặp mắt đỏ thẫm!">Chương 50: Đằng
                    kia...Một cặp mắt đỏ thẫm!</a>
                </li>

              </ul>
            </div>


            <style type="text/css">
              a:hover {
                cursor: pointer;
              }
            </style>
            <div class="box-page-view">





              <a onclick="goto(0)" rel="previous" class="active">1</a>

              <a onclick="goto(1)" rel="previous" class="">2</a>

              <a onclick="goto(2)" rel="previous" class="">3</a>

              <a onclick="goto(3)" rel="previous" class="">4</a>



              <a onclick="goto(1)" rel="next"><i class="truyenn-icon_small_next"></i></a>
              <a onclick="goto(3)" rel="Trang cuối 4">4</a>


            </div>

          </div>
        </div>
        <!--end top chapter-->
        <script>
          function goto(page) {
            let bookId = $('#book-id').val()
            if (!bookId) {
              return
            }

            $.ajax({
              url: '/ajax/books/' + bookId + '/chapters?page=' + page,
              success: function (data) {
                $('.box-list-chapter').replaceWith(data)
              }
            })
          }

          function manualSearch() {
            let keyword = $('#textChapterPage').val()
            if (!keyword) {
              return
            }

            let page = parseInt(keyword) - 1
            if (page < 0) {
              return
            }

            goto(page)
          }

          function goToPageSubmit(e) {
            e.preventDefault();
            manualSearch()
          }

        </script>

        <!--begin comment-->
        <div class="box-comment">
          <div class="detail-title-box">
            <div class="title-select-name">Bình luận Facebook</div>
          </div>
        </div>
        <!--end comment-->


      </div>
      <!--end left-->

      <!--begin right-->
      <div class="right-detail">
        <!--begin author-->
        <div class="box-author">

          <div class="img-author">
            <a href="/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a"><img
                src="https://res.cloudinary.com/tncdn11/image/upload/v1573746420/truyennhieu/images/default-author.jpg"></a>
          </div>
          <div class="box-name-author">
            <a href="/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a" class="name-author-link link-main-color">Thanh
              Khiết Xà</a>
            <span class="box-count-book ">Tác phẩm: <span class="color-output-data">2</span></span>
          </div>

        </div>
        <div id="same-author-books">
        </div>

        <div id="same-cat-books">
          <div class="box-list-book-of-author-cate">
            <div class="title-book-author">
              <span class="bg-book-author">Truyện cùng thể loại</span></div>
            <ul>

              <li>
                <div class="img-book"><a href="/quai-phi-thien-ha" class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn12/image/upload/v1578110667/truyen/quai-phi-thien-ha.jpg"
                      alt="Quai Phi Thien Ha - Cam Hoang"
                      src="https://res.cloudinary.com/tncdn12/image/upload/v1578110667/truyen/quai-phi-thien-ha.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/quai-phi-thien-ha" class="name-book-link link-main-color">Quái Phi Thiên Hạ</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/cam-hoang/5bdfebf4b19786223c89934a"
                      class="name-cate-link link-main-color">Cẩm Hoàng</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/quy-de-cuong-the-dai-tieu-thu-an-choi-trac-tang"
                    class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn4/image/upload/v1568741527/truyen/quy-de-cuong-the-dai-tieu-thu-an-choi-trac-tang.jpg"
                      alt="Quy De Cuong The Dai Tieu Thu An Choi Trac Tang - Tieu That Gia"
                      src="https://res.cloudinary.com/tncdn4/image/upload/v1568741527/truyen/quy-de-cuong-the-dai-tieu-thu-an-choi-trac-tang.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/quy-de-cuong-the-dai-tieu-thu-an-choi-trac-tang" class="name-book-link link-main-color">Quỷ
                    Đế Cuồng Thê: Đại Tiểu Thư Ăn Chơi Trác Táng</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/tieu-that-gia/5be263d97f0e2b2fdfe63da6"
                      class="name-cate-link link-main-color">Tiêu Thất Gia</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/phu-the-nha-ngheo" class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn4/image/upload/v1568460571/truyen/phu-the-nha-ngheo.jpg"
                      alt="Phu The Nha Ngheo - Lao Nap Bat Dong Ai"
                      src="https://res.cloudinary.com/tncdn4/image/upload/v1568460571/truyen/phu-the-nha-ngheo.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/phu-the-nha-ngheo" class="name-book-link link-main-color">Phu Thê Nhà Nghèo</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/lao-nap-bat-dong-ai/5c1286d541c1ad4206236db4"
                      class="name-cate-link link-main-color">Lão Nạp Bất Đổng Ái</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/cuoc-hon-nhan-bi-mat-day-ngot-ngao-vo-yeu-be-bong-cua-dai-gia-tai-phiet"
                    class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1574956869/truyen/cuoc-hon-nhan-bi-mat-day-ngot-ngao-vo-yeu-be-bong-cua-dai-gia-tai-phiet.jpg"
                      alt="Cuoc Hon Nhan Bi Mat Day Ngot Ngao Vo Yeu Be Bong Cua Dai Gia Tai Phiet - Helen Duong Duong"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1574956869/truyen/cuoc-hon-nhan-bi-mat-day-ngot-ngao-vo-yeu-be-bong-cua-dai-gia-tai-phiet.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/cuoc-hon-nhan-bi-mat-day-ngot-ngao-vo-yeu-be-bong-cua-dai-gia-tai-phiet"
                    class="name-book-link link-main-color">Cuộc Hôn Nhân Bí Mật Đầy Ngọt Ngào: Vợ Yêu Bé Bỏng Của Đại
                    Gia Tài Phiệt</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/helen-duong-duong/5ddd7d496de0af41ad323f02"
                      class="name-cate-link link-main-color">Helen Dương Dương</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/xin-chao-thieu-tuong-dai-nhan" class="box-absolute fn-shadow"><img
                      class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1577280861/truyen/xin-chao-thieu-tuong-dai-nhan.jpg"
                      alt="Xin Chao Thieu Tuong Dai Nhan - Han Vo Ki"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1577280861/truyen/xin-chao-thieu-tuong-dai-nhan.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/xin-chao-thieu-tuong-dai-nhan" class="name-book-link link-main-color">Xin Chào Thiếu Tướng
                    Đại Nhân</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/han-vo-ki/5dfe74008205eb4dba48a6ba"
                      class="name-cate-link link-main-color">Hàn Võ Kí</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/thanh-xuan-ngay-tho-tuoi-dep-cung-em"
                    class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1576247451/truyen/thanh-xuan-ngay-tho-tuoi-dep-cung-em.jpg"
                      alt="Thanh Xuan Ngay Tho Tuoi Dep Cung Em - Diep Phi Da"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1576247451/truyen/thanh-xuan-ngay-tho-tuoi-dep-cung-em.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/thanh-xuan-ngay-tho-tuoi-dep-cung-em" class="name-book-link link-main-color">Thanh Xuân
                    Ngây Thơ Tươi Đẹp Cùng Em</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/diep-phi-da/5be1c6d81b07282cdf88ea36"
                      class="name-cate-link link-main-color">Diệp Phi Dạ</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/cuoc-tuong-ngo-sai-lam" class="box-absolute fn-shadow"><img
                      class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1574956869/truyen/cuoc-tuong-ngo-sai-lam.jpg"
                      alt="Cuoc Tuong Ngo Sai Lam - Khanh Diem Giang Son"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1574956869/truyen/cuoc-tuong-ngo-sai-lam.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/cuoc-tuong-ngo-sai-lam" class="name-book-link link-main-color">Cuộc Tương Ngộ Sai Lầm</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/khanh-diem-giang-son/5ddd7e0b6de0af41ad324017"
                      class="name-cate-link link-main-color">Khanh Điểm Giang Sơn</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/vo-than-nghich-thien-ma-phi-chi-ton" class="box-absolute fn-shadow"><img
                      class="lozad"
                      data-src="https://res.cloudinary.com/tncdn9/image/upload/v1572276523/truyen/vo-than-nghich-thien-ma-phi-chi-ton.jpg"
                      alt="Vo Than Nghich Thien Ma Phi Chi Ton - Bang Y Kha Kha"
                      src="https://res.cloudinary.com/tncdn9/image/upload/v1572276523/truyen/vo-than-nghich-thien-ma-phi-chi-ton.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/vo-than-nghich-thien-ma-phi-chi-ton" class="name-book-link link-main-color">Võ Thần Nghịch
                    Thiên: Ma Phi Chí Tôn</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/bang-y-kha-kha/5be2677d7f0e2b2fdfe644cb"
                      class="name-cate-link link-main-color">Băng Y Khả Khả</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/thien-hau-tieu-thanh-mai" class="box-absolute fn-shadow"><img
                      class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1577372912/truyen/thien-hau-tieu-thanh-mai.jpg"
                      alt="Thien Hau Tieu Thanh Mai - Ga An Trung Ga"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1577372912/truyen/thien-hau-tieu-thanh-mai.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/thien-hau-tieu-thanh-mai" class="name-book-link link-main-color">Thiên Hậu Tiểu Thanh
                    Mai</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/ga-an-trung-ga/5e0228098205eb4dba48aea6"
                      class="name-cate-link link-main-color">Gà Ăn Trứng Gà</a></span>
                </div>
              </li>

              <li>
                <div class="img-book"><a href="/ngai-co-than-men" class="box-absolute fn-shadow"><img class="lozad"
                      data-src="https://res.cloudinary.com/tncdn10/image/upload/v1577599394/truyen/ngai-co-than-men.jpg"
                      alt="Ngai Co Than Men - Xan Dieu Ai Ngu"
                      src="https://res.cloudinary.com/tncdn10/image/upload/v1577599394/truyen/ngai-co-than-men.jpg"
                      data-loaded="true"></a></div>
                <div class="box-name-book">
                  <a href="/ngai-co-than-men" class="name-book-link link-main-color">Ngài Cố Thân Mến!</a>
                  <span class="author-book ">Tác giả: <a href="/tac-gia/xan-dieu-ai-ngu/5e022a248205eb4dba48b169"
                      class="name-cate-link link-main-color">Xán Diểu Ái Ngư</a></span>
                </div>
              </li>

            </ul>
          </div>

        </div>

      </div>
      <!--end right-->
    </div>
  </div>
</div>