<div class="box-list-chapter">
  <div class="detail-title-box">
    <div class="title-select-name">Danh sách chương</div>
  </div>
  <div class="show-chapter">
    <form action="#">
      <div class="page-jum"><span class="title-jum">Chuyển nhanh đến trang</span>
        <input id="textChapterPage" type="text" class="i-page-jum" placeholder="Nhập số trang">
        <a class="b-page-jum" (click)="manualSearch()" title="Đi"></a>
      </div>
    </form>
    <div class="box-page-view">
      <a (click)="goto(0)" class="active">1</a>
      <a (click)="goto(1)">2</a>
      <a (click)="goto(2)">3</a>
      <a (click)="goto(3)">4</a>
      <a (click)="goto(1)"><i class="truyenn-icon_small_next"></i></a>
      <a (click)="goto(3)">4</a>
    </div>
    <div class="box-show-chapter">
      <ul class="list-chapter">
        <li *ngFor="let item of chapters.data, let i = index">
          <a [routerLink]="item.link" [title]="item.name">{{item.name}}</a>
        </li>
      </ul>
    </div>
    <div class="box-page-view">
        <a (click)="goto(0)" class="active">1</a>
        <a (click)="goto(1)">2</a>
        <a (click)="goto(2)">3</a>
        <a (click)="goto(3)">4</a>
        <a (click)="goto(1)"><i class="truyenn-icon_small_next"></i></a>
        <a (click)="goto(3)">4</a>
      </div>
  </div>
</div>