<div class="cate-right-list">
  <div class="cate-header-title">
    <h1 class="hl-cate-name">{{category.title}}</h1>
    <div class="info-cate">
      <p>{{category.description}}</p>
    </div>
    <div class="box-list-filter">
      <div class="link-cate-filter">
        <a [routerLink]="category.url" class="activelink">Mới cập nhật</a>
        <a [routerLink]="category.url" class="">Full</a>
      </div>
    </div>
  </div>

  <div id="category-books-container">
    <div class="box-cate-list list-view">
      <ul>
        <li *ngFor="let item of books">
          <a [routerLink]="item.url" class="img-left" [title]="item.title">
            <div class="box-absolute fn-shadow">
              <div class="img">
                <img class="lozad" [title]="item.title" [alt]="item.title" [src]="item.image" />
              </div>
            </div>
          </a>
          <div class="box-book-info">
            <h3 class="font-title">
              <a [routerLink]="item.url" class="name-book ellipsis-1" [title]="item.title">{{item.title}}</a>
            </h3>
            <h4 class="show-author">
              <a [routerLink]="item.url" class="name-author ellipsis-1" [title]="item.title">{{item.author}}</a>
            </h4>
            <div class="info-book-des">
              <p>{{item.description}}</p>
            </div>
            <div class="list-chapter">
              <div class="item-chapter">
                <a [routerLink]="item.lastChapter.link" class="name-chapter ellipsis-1">{{item.lastChapter.name}}</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="box-page-view">
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=2">Trang đầu</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=2"><i class="truyenn-icon_small_back"></i></a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=1" class="active">1</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=2">2</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=3">3</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=4">4</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=5">5</a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=2"><i class="truyenn-icon_small_next"></i></a>
      <a href="/the-loai/do-thi/5bdec27dc551731a60abe201?page=64">64</a>
    </div>
  </div>
</div>