.box-cate-list ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  width: 100%;
}
.cate-right-list .hl-cate-name {
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.cate-right-list .info-cate {
  padding: 10px !important;
}
.cate-header-title {
  width: 100%;
  position: relative;
}
.cate-header-title .hl-cate-name {
  float: left;
  width: auto;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
}
.cate-header-title .info-cate {
  width: 100%;
  float: left;
  color: #747474;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  border-bottom: #ededed solid 1px;
}
.cate-header-title .box-list-filter {
  width: 100%;
  float: left;
  background: #f5f5f5;
}
.cate-header-title .box-list-filter .link-cate-filter {
  float: left;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  background: #f5f5f5;
  box-sizing: border-box;
}
.cate-header-title .box-list-filter .link-cate-filter a {
  float: left;
  margin-right: 10px;
  padding: 10px 10px;
  color: #212121;
  font-weight: 500;
  font-size: 13px;
}
.cate-header-title .box-list-filter .link-cate-filter a.activelink,
.link-cate-filter a:hover {
  border-bottom: #bb3129 solid 3px;
  color: #bb3129;
}
.box-cate-list {
  padding: 0 10px;
  box-sizing: border-box;
}
.box-cate-list ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  width: 100%;
}
.box-cate-list ul li .box-absolute .img {
  position: absolute;
  text-align: center;
}
.box-cate-list ul li .box-book-info {
  float: left;
  width: 100%;
}
.box-cate-list ul li .img-left {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.box-cate-list ul li .box-absolute {
  position: relative;
  width: 100px;
  height: 149px;
  left: 50%;
  margin-left: -50px;
}
.box-cate-list.list-view ul li .img-left {
  width: 100px;
  margin-right: 20px;
}
.box-cate-list {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.box-cate-list ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  width: 100%;
}
.box-cate-list ul li {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}
.box-cate-list ul li .img-left {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.box-cate-list ul li .box-absolute {
  position: relative;
  width: 100px;
  height: 149px;
}
.box-cate-list ul li .item-mask-bg {
  display: none;
}
.box-cate-list ul li .box-absolute:hover .item-mask-bg {
  display: block;
  transition: all 0.3s ease-in-out;
}
.box-cate-list ul li .box-absolute .img {
  position: absolute;
  width: 100px;
  height: 149px;
}
.box-cate-list ul li .box-absolute .img img {
  width: 100px;
  height: 149px;
}
.box-cate-list ul li .box-book-info {
  float: left;
  width: calc(100% - 130px);
}
.box-cate-list ul li .box-book-info h3 {
  float: left;
  width: 100%;
  padding: 0px 0 3px 0;
}
.box-cate-list ul li .box-book-info h3 .name-book {
  font-size: 13px;
  margin: 5px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 22px;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.box-cate-list ul li .box-book-info .show-author {
  float: left;
  width: 100%;
  padding: 0px 0 0 0;
  margin-bottom: 5px;
}
.box-cate-list ul li .box-book-info .info-book-des {
  display: none;
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #595959;
  margin-bottom: 10px;
}
.box-cate-list ul li .box-book-info .list-chapter {
  float: left;
  width: 100%;
}
.box-cate-list ul li .box-book-info .list-chapter .item-chapter {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.box-cate-list ul li .box-book-info .list-chapter .item-chapter a {
  border: 1px solid #ebebeb;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  transition: background-color 200ms ease;
  transition: border-color 200ms ease;
  margin-right: 10px;
}
.box-cate-list ul li .box-book-info .list-chapter .item-chapter a:hover {
  color: #ffffff;
  background: #bb3129;
  text-decoration: none !important;
}
.box-cate-list ul li .box-book-info .list-chapter .item-chapter .time-update {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}
.box-cate-list.list-view ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  width: 100%;
}
.box-cate-list.list-view ul li .box-book-info {
  float: left;
  width: calc(100% - 130px);
}
.box-cate-list.list-view ul li .box-book-info .info-book-des {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 18px;
  max-height: 51px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.box-cate-list.list-view ul li .box-book-info .list-chapter .item-chapter {
  float: left;
  width: auto !important;
  margin: 5px 20px 5px 0;
}
@media (min-width: 1200px) {
  .cate-right-list {
    width: 78%;
    float: left;
  }
}
@media (max-width: 1199px) {
  .cate-right-list {
    float: left;
    margin-top: 54px;
  }
}
