<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Đọc truyện online, truyện gì cũng có</title>
    <meta name="title" content="Đọc truyện online, truyện gì cũng có">
    <meta name="description"
        content="Đọc truyện hay online, đọc sách, ebook hay, đọc truyện chữ, truyện hay và đọc truyện full mọi lúc mọi nơi trên mọi thiết bị và cập nhật hàng ngày.">
    <meta name="keywords"
        content="doc truyen hay online, doc sach, webtruyen, sach truyen ban quyen, truyen ngon tinh, truyen 18+, sach hay, ebook hay, doc sach online, thu vien sach, thu vien ebook, ebook">

    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://truyennhieu.com">
    <meta property="og:title" content="Đọc truyện online, truyện gì cũng có">
    <meta property="og:image"
        content="https://res.cloudinary.com/tncdn11/image/upload/v1578321988/truyennhieu/facebook-share-truyennhieu.png">
    <meta property="og:description"
        content="Đọc truyện hay online, đọc sách, ebook hay, đọc truyện chữ, truyện hay và đọc truyện full mọi lúc mọi nơi trên mọi thiết bị và cập nhật hàng ngày.">
    <meta property="og:site_name" content="Đọc truyện online, truyện gì cũng có">


    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="378">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://truyennhieu.com">
    <meta name="twitter:title" content="Đọc truyện online, truyện gì cũng có">
    <meta name="twitter:description"
        content="Đọc truyện hay online, đọc sách, ebook hay, đọc truyện chữ, truyện hay và đọc truyện full mọi lúc mọi nơi trên mọi thiết bị và cập nhật hàng ngày.">
    <meta name="twitter:image"
        content="https://res.cloudinary.com/tncdn11/image/upload/v1578321988/truyennhieu/facebook-share-truyennhieu.png">

    <meta name="author" content="huynhdn.com">
    <meta name="copyright" content="huynhdn.com">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
        rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/fontsv2.css" rel="stylesheet"
        type="text/css">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://res.cloudinary.com/tncdn11/image/upload/v1573747141/truyennhieu/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/tncdn11/image/upload/v1573747141/truyennhieu/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/tncdn11/image/upload/v1573747141/truyennhieu/images/icons/favicon-16x16.png">
    <script src="https://res.cloudinary.com/tncdn11/raw/upload/v1573748853/truyennhieu/js/jquery-3.3.1.min.js"
        type="text/javascript"></script>
</head>

<body>

    <div class="header" id="bodyread">
        <div class="wrap">
            <div class="container">
                <a href="/" class="box-logo" title="Đọc truyện online, truyện gì cũng có"> <img
                        src="https://res.cloudinary.com/tncdn11/image/upload/v1573746420/truyennhieu/images/truyennhieu-logo.svg"
                        class="img-svg" title="Đọc truyện online, truyện gì cũng có"
                        alt="Đọc truyện online, truyện gì cũng có"> </a>
                <div class="navbar-menu">
                    <ul class="left-menu mainmenu">
                        <li class="active"><a href="/" rel="dofollow" title="Trang chủ"><span
                                    class="icon-home"></span></a></li>
                        <li class=""><a href="#" rel="dofollow" title="Thể loại">Thể loại</a>
                            <div class="mainmenu-topbar hide" style="display: none;">
                                <div class="main-menu-more">
                                    <div class="menu-show-full-cate">
                                        <ul class="list-menu col-3">
                                            <li><a href="/the-loai/" title="Tất cả truyện">Tất cả</a></li>

                                            <li><a href="/the-loai/tien-hiep/5bdec66306c7c41b7eea0fe4"
                                                    title="Truyện Tiên Hiệp">Tiên Hiệp</a></li>

                                            <li><a href="/the-loai/kiem-hiep/5be109e6b22428286417369f"
                                                    title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></li>

                                            <li><a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff"
                                                    title="Truyện Ngôn Tình">Ngôn Tình</a></li>

                                            <li><a href="/the-loai/do-thi/5bdec27dc551731a60abe201"
                                                    title="Truyện Đô Thị">Đô Thị</a></li>

                                            <li><a href="/the-loai/quan-truong/5be6a6689d614d46ffa68d92"
                                                    title="Truyện Quan Trường">Quan Trường</a></li>

                                            <li><a href="/the-loai/vong-du/5bdf022606c7c41b7eea55c0"
                                                    title="Truyện Võng Du">Võng Du</a></li>

                                            <li><a href="/the-loai/khoa-huyen/5bdf18bc06c7c41b7eea8070"
                                                    title="Truyện Khoa Huyễn">Khoa Huyễn</a></li>

                                            <li><a href="/the-loai/huyen-huyen/5bdecab406c7c41b7eea20b9"
                                                    title="Truyện Huyền Huyễn">Huyền Huyễn</a></li>

                                            <li><a href="/the-loai/di-gioi/5bdecab406c7c41b7eea20b6"
                                                    title="Truyện Dị Giới">Dị Giới</a></li>

                                            <li><a href="/the-loai/di-nang/5be1c56b1b07282cdf88e775"
                                                    title="Truyện Dị Năng">Dị Năng</a></li>

                                            <li><a href="/the-loai/quan-su/5be67f9e9d614d46ffa63eb4"
                                                    title="Truyện Quân Sự">Quân Sự</a></li>

                                            <li><a href="/the-loai/lich-su/5be1b09ee2f0522ba9218079"
                                                    title="Truyện Lịch Sử">Lịch Sử</a></li>

                                            <li><a href="/the-loai/xuyen-khong/5bdecab406c7c41b7eea20b8"
                                                    title="Truyện Xuyên Không">Xuyên Không</a></li>

                                            <li><a href="/the-loai/trong-sinh/5bdfb00f8ee5f91f329931cc"
                                                    title="Truyện Trọng Sinh">Trọng Sinh</a></li>

                                            <li><a href="/the-loai/trinh-tham/5be268277f0e2b2fdfe6461c"
                                                    title="Truyện Trinh Thám">Trinh Thám</a></li>

                                            <li><a href="/the-loai/tham-hiem/5be25add7f0e2b2fdfe62c1b"
                                                    title="Truyện Thám Hiểm">Thám Hiểm</a></li>

                                            <li><a href="/the-loai/linh-di/5be2af29ea81db31673b318f"
                                                    title="Truyện Linh Dị">Linh Dị</a></li>

                                            <li><a href="/the-loai/sac/5be10a0ab2242828641736e8"
                                                    title="Truyện Sắc">Sắc</a></li>

                                            <li><a href="/the-loai/nguoc/5be1bbf9e2f0522ba92180d5"
                                                    title="Truyện Ngược">Ngược</a></li>

                                            <li><a href="/the-loai/sung/5bdec66306c7c41b7eea0fe8"
                                                    title="Truyện Sủng">Sủng</a></li>

                                            <li><a href="/the-loai/cung-dau/5be3b84d6e8d9936a27d6602"
                                                    title="Truyện Cung Đấu">Cung Đấu</a></li>

                                            <li><a href="/the-loai/nu-cuong/5be1be3ce2f0522ba9218544"
                                                    title="Truyện Nữ Cường">Nữ Cường</a></li>

                                            <li><a href="/the-loai/gia-dau/5be2639f7f0e2b2fdfe63d31"
                                                    title="Truyện Gia Đấu">Gia Đấu</a></li>

                                            <li><a href="/the-loai/dong-phuong/5be679bc9d614d46ffa62b08"
                                                    title="Truyện Đông Phương">Đông Phương</a></li>

                                            <li><a href="/the-loai/dam-my/5bdf162c06c7c41b7eea7b78"
                                                    title="Truyện Đam Mỹ">Đam Mỹ</a></li>

                                            <li><a href="/the-loai/bach-hop/5be7208e5ce85f4bc1f4ca89"
                                                    title="Truyện Bách Hợp">Bách Hợp</a></li>

                                            <li><a href="/the-loai/hai-huoc/5bdec66306c7c41b7eea0fe6"
                                                    title="Truyện Hài Hước">Hài Hước</a></li>

                                            <li><a href="/the-loai/dien-van/5be266f47f0e2b2fdfe643b9"
                                                    title="Truyện Điền Văn">Điền Văn</a></li>

                                            <li><a href="/the-loai/co-dai/5be10a3ab224282864173745"
                                                    title="Truyện Cổ Đại">Cổ Đại</a></li>

                                            <li><a href="/the-loai/mat-the/5be267aa7f0e2b2fdfe64523"
                                                    title="Truyện Mạt Thế">Mạt Thế</a></li>

                                            <li><a href="/the-loai/truyen-teen/5bdefffe06c7c41b7eea519b"
                                                    title="Truyện Truyện Teen">Truyện Teen</a></li>

                                            <li><a href="/the-loai/phuong-tay/5be1d1492b9b392d52d2ff68"
                                                    title="Truyện Phương Tây">Phương Tây</a></li>

                                            <li><a href="/the-loai/nu-phu/5be681599d614d46ffa64213"
                                                    title="Truyện Nữ Phụ">Nữ Phụ</a></li>

                                            <li><a href="/the-loai/light-novel/5be7bd9e5ce85f4bc1f513c7"
                                                    title="Truyện Light Novel">Light Novel</a></li>

                                            <li><a href="/the-loai/viet-nam/5be1b09ee2f0522ba9218078"
                                                    title="Truyện Việt Nam">Việt Nam</a></li>

                                            <li><a href="/the-loai/doan-van/5be686be9d614d46ffa64cae"
                                                    title="Truyện Đoản Văn">Đoản Văn</a></li>

                                            <li><a href="/the-loai/khac/5be68b279d614d46ffa65726"
                                                    title="Truyện Khác">Khác</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class=""><a href="/the-loai/kiem-hiep/5be109e6b22428286417369f" rel="dofollow"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></li>

                        <li class=""><a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" rel="dofollow"
                                title="Ngôn Tình">Ngôn Tình</a></li>


                    </ul>
                </div>
                <a hidden="#" onclick="showSearchBar()" class="btn-search-icon"></a>
                <div class="fun_search" id="fun_search">
                    <div class="box-input">
                        <input id="txtSearch" type="text" class="i-search" value="Nhập tên sách hoặc tác giả"
                            onkeypress="return keywordPressed(event)"
                            onfocus="if (this.value == 'Nhập tên sách hoặc tác giả') {this.value = ''; }">
                    </div>
                    <a class="b-search" onclick="submitSearch()" title="Tìm kiếm"></a>
                    <a onclick="hideSearchBar()" class="btn-txt-cancel-search" title="Hủy search" rel="nofollow">Hủy</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // Hover Notify menu
            var divViewHover = $('li.viewed>div.viewHover');
            var liViewHoverItem = divViewHover.children('li');
            var indexViewedLi = 0;
            $('ul.mainmenu>li').hover(function () {
                //displaySuggestItem(0);
                liViewHoverItem.removeClass('hover');
                $(this).addClass('hover');
                $(this).children('div.mainmenu-topbar').show();
            }, function () {
                $(this).removeClass('hover');
                $(this).children('div.mainmenu-topbar').hide();
            });
        });

        function submitSearch() {
            let keyword = $('#txtSearch').val()
            if (!keyword) {
                return
            }

            window.location = ('/tim-kiem?q=' + encodeURI(keyword))
        }

        function keywordPressed(event) {
            if (event.keyCode == 13) {
                submitSearch()
                return false;
            }

            return true
        }

        function hideSearchBar() {
            $('#fun_search').attr('style', '')
            $('.btn-search-icon').attr('style', '')
        }

        function showSearchBar() {
            $('.btn-search-icon').css('display', 'none')
            $('#fun_search').css('display', 'unset')
        }
    </script>

    <div class="footer">
        <div class="wrap">
            <div class="container">
                <ul>
                    <li>
                        <div class="label-ft">Thể loại hot</div>
                        <ul>

                            <li><a href="/the-loai/do-thi/5bdec27dc551731a60abe201" title="Truện Đô Thị">Đô Thị</a></li>

                            <li><a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" title="Truện Ngôn Tình">Ngôn
                                    Tình</a></li>

                            <li><a href="/the-loai/tien-hiep/5bdec66306c7c41b7eea0fe4" title="Truện Tiên Hiệp">Tiên
                                    Hiệp</a></li>

                            <li><a href="/the-loai/hai-huoc/5bdec66306c7c41b7eea0fe6" title="Truện Hài Hước">Hài
                                    Hước</a></li>

                            <li><a href="/the-loai/sung/5bdec66306c7c41b7eea0fe8" title="Truện Sủng">Sủng</a></li>

                        </ul>
                    </li>
                    <li class="keyword-fran">
                        <div class="label-ft">Top từ khóa</div>

                        <ul>

                            <li><a href="/the-loai/trong-sinh/5bdfb00f8ee5f91f329931cc" title="Trọng Sinh">Trọng
                                    Sinh</a></li>

                            <li><a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" title="Ngôn Tình">Ngôn Tình</a>
                            </li>

                            <li><a href="/choc-tuc-vo-yeu-mua-mot-tang-mot" title="Chọc Tức Vợ Yêu">Chọc Tức Vợ Yêu</a>
                            </li>

                            <li><a href="/the-loai/nguoc/5be1bbf9e2f0522ba92180d5" title="Truyện Ngược">Truyện Ngược</a>
                            </li>

                            <li><a href="/am-huong" title="Truyện Âm Hưởng">Truyện Âm Hưởng</a></li>

                            <li><a href="/the-loai/sac/5be10a0ab2242828641736e8" title="Truyện 18+">Truyện 18+</a></li>

                            <li><a href="/the-loai/sac/5be10a0ab2242828641736e8" title="Truyện người lớn">Truyện người
                                    lớn</a></li>

                            <li><a href="/pham-nhan-tu-tien-chi-tien-gioi-thien-pham-nhan-tu-tien-2"
                                    title="pham nhan tu tien 2">pham nhan tu tien 2</a></li>

                            <li><a href="/du-hanh" title="Dụ Hành">Dụ Hành</a></li>

                            <li><a href="/tac-gia/hong-nhan-hoa-thuy/5bf3b94e4858996227e2a434"
                                    title="hồng nhan họa thủy">hồng nhan họa thủy</a></li>

                            <li><a href="/the-loai/sac/5be10a0ab2242828641736e8" title="truyen sex">truyen sex</a></li>

                            <li><a href="/yeu-em-tu-cai-nhin-dau-tien" title="yêu em từ cái nhìn đầu tiên">yêu em từ cái
                                    nhìn đầu tiên</a></li>

                            <li><a href="/tam-sinh-tam-the-thap-ly-dao-hoa" title="tam sinh tam thế thập lý đào hoa">tam
                                    sinh tam thế thập lý đào hoa</a></li>

                            <li><a href="/de-ba" title="de ba">de ba</a></li>

                            <li><a href="/dau-pha-thuong-khung" title="dau pha thuong khung">dau pha thuong khung</a>
                            </li>

                        </ul>

                    </li>
                    <li class="keyword-fran">
                        <div class="label-ft">Lời giới thiệu</div>
                        <div class="des-info">
                            <p><strong>Truyện Nhiều</strong> - <a href="https://truyennhieu.com"
                                    title="Đọc truyện online">Đọc truyện</a> online, <a href="https://truyennhieu.com"
                                    title="Đọc truyện chữ">đọc truyện</a> chữ, <a href="https://truyennhieu.com"
                                    title="Truyện hay">truyện hay</a>.
                                Website luôn cập nhật những bộ <a href="https://truyennhieu.com/danh-sach/truyen-moi/"
                                    title="Truyện mới">truyện mới</a> một cách nhanh nhất.</p>
                            <p>Tất cả các truyện trên site đều được đọc giả sưu tầm từ các nguồn trên mạng, chúng tôi
                                không chịu bất cứ trách nhiệm nào về vấn đề bản quyền tác giả. </p>
                            <p>Nếu các bạn đọc truyện nào thấy có nội dung liên quan đến vấn đề chính trị hoặc có nội
                                dung không lành mạnh vui lòng liên hệ truyennhieu.com@gmail.com để chúng tôi xóa bỏ
                                truyện khỏi trang web. Chân thành cảm ơn.</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="end-footer">
        <div class="wrap">
            <div class="container">
                <ul>
                    <li><a rel="nofollow" href="/gioi-thieu/">Giới thiệu</a></li>
                    <li><a rel="nofollow" href="/dieu-khoan-su-dung/">Điều khoản sử dụng</a></li>
                    <li><a rel="nofollow" href="/chinh-sach-rieng-tu/">Chính sách riêng tư</a></li>
                    <li><a rel="nofollow" href="/lien-he/">Liên hệ</a></li>
                </ul>
                <p>Copyright © 2018 TruyenNhieu.com. All rights reserved</p>
            </div>
        </div>
    </div>
</body>