<div class="box-author">

  <div class="img-author">
    <a [routerLink]="'/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a'">
      <img src="assets/images/default-author.jpg" />
    </a>
  </div>
  <div class="box-name-author">
    <a [routerLink]="'/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a'" class="name-author-link link-main-color">
      Thanh Khiết Xà
    </a>
    <span class="box-count-book ">Tác phẩm: <span class="color-output-data">2</span></span>
  </div>

</div>
<div id="same-author-books">
</div>

<div id="same-cat-books">
  <div class="box-list-book-of-author-cate">
    <div class="title-book-author">
      <span class="bg-book-author">Truyện cùng thể loại</span></div>
    <ul>

      <li *ngFor="let item of sameCategories">
        <div class="img-book">
          <a [routerLink]="item.link" class="box-absolute fn-shadow">
            <img alt="Quai Phi Thien Ha - Cam Hoang" [src]="item.image" />
          </a>
        </div>
        <div class="box-name-book">
          <a [routerLink]="item.link" class="name-book-link link-main-color">{{item.title}}</a>
          <span class="author-book ">Tác giả: <a [routerLink]="item.authorUrl" class="name-cate-link link-main-color">{{item.author}}</a></span>
        </div>
      </li>
    </ul>
  </div>
</div>