<div class="detail-top">
  <span typeof="v:Breadcrumb">
    <a href="/" rel="v:url" property="v:title" alt="Doc sach" title="Đọc sách" target="_blank">Truyện nhiều</a>
  </span> <i class="truyenn-icon_small_next"></i>
  <span typeof="v:Breadcrumb">

    <a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" rel="v:url" property="v:title" alt="Ngôn Tình"
      title="Ngôn Tình" target="_blank">Ngôn Tình</a>
  </span>
</div>
<!--begin detail left-->
<h1 class="hl-name-book">Phòng Sách Lúc Nửa Đêm</h1>
<div class="detail-header">
  <!--begin top detail left-->
  <div class="book-thum">

    <a href="/phong-sach-luc-nua-dem/chuong-1" class="img-left">
      <div class="box-absolute fn-shadow">
        <div class="img"><img
            src="https://res.cloudinary.com/tncdn10/image/upload/v1576247451/truyen/phong-sach-luc-nua-dem.jpg"
            alt="Phong Sach Luc Nua Dem - Thanh Khiet Xa"></div>
        <span class="item-mask-bg"></span>
      </div>
    </a>
  </div>
  <div class="book-list-field">
    <div class="l-book-list-field">
      <div class="info-book">
        <div class="l-if-book">Tác giả</div>
        <div class="r-if-book">
          <a href="/tac-gia/thanh-khiet-xa/5de937b23e96166ca455700a" title="Tác giả Thanh Khiết Xà">Thanh Khiết
            Xà</a>
        </div>
      </div>
      <div class="info-book">
        <div class="l-if-book">Thể loại</div>
        <div class="r-if-book">

          <a href="/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff" title="thể loại Ngôn Tình">Ngôn Tình</a>,

          <a href="/the-loai/do-thi/5bdec27dc551731a60abe201" title="thể loại Đô Thị">Đô
            Thị</a>

        </div>
      </div>

      <div class="info-book">
        <div class="l-if-book">Trạng thái</div>
        <div class="r-if-book"><span class="status-chapter full">Đang ra</span></div>
      </div>
      <div class="info-book">
        <div class="l-if-book">Like ngay</div>
        <div class="r-if-book">
          <div class="fb-like fb_iframe_widget" data-href="https://truyennhieu.com/phong-sach-luc-nua-dem"
            data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"
            fb-xfbml-state="rendered"
            fb-iframe-plugin-query="action=like&amp;app_id=2208726549448975&amp;container_width=610&amp;href=https%3A%2F%2Ftruyennhieu.com%2Fphong-sach-luc-nua-dem&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
            <span style="vertical-align: bottom; width: 138px; height: 20px;"><iframe name="f2c8ed6b7370028"
                width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0"
                allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/v3.2/plugins/like.php?action=like&amp;app_id=2208726549448975&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Dfb65a117f1bf58%26domain%3Dtruyennhieu.com%26origin%3Dhttps%253A%252F%252Ftruyennhieu.com%252Ff3ced92c6a4ff2%26relation%3Dparent.parent&amp;container_width=610&amp;href=https%3A%2F%2Ftruyennhieu.com%2Fphong-sach-luc-nua-dem&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"
                style="border: none; visibility: visible; width: 138px; height: 20px;" class=""></iframe></span>
          </div>
        </div>
      </div>
      <div class="btn-list-action">
        <a href="/phong-sach-luc-nua-dem/chuong-1" class="btn-action btn-readbook btn-fist-read">Đọc Từ Đầu</a>

        <a href="/phong-sach-luc-nua-dem/chuong-157" class="btn-action  btn-readbook btn-new-chapter">Đọc Mới
          Nhất</a>
        <a onclick="return scrollToMenuOfChapters()" class="btn-boder-action btn-chapter-list" rel="nofollow">Mục
          lục</a>
      </div>
    </div>
    <div class="list-new-chapter">
      <div class="title-chapter">Các chương mới nhất</div>
      <ul class="list-chapter">


        <li>
          <a href="/phong-sach-luc-nua-dem/chuong-157"
            title="Phòng Sách Lúc Nửa Đêm - Chương 157: Có tiền thì có quyền">
            Chương 157: Có tiền thì có quyền
          </a>
        </li>

        <li>
          <a href="/phong-sach-luc-nua-dem/chuong-156"
            title="Phòng Sách Lúc Nửa Đêm - Chương 156: Hồng hạnh xuất tường">
            Chương 156: Hồng hạnh xuất tường
          </a>
        </li>

        <li>
          <a href="/phong-sach-luc-nua-dem/chuong-155" title="Phòng Sách Lúc Nửa Đêm - Chương 155: Có quỷ!">
            Chương 155: Có quỷ!
          </a>
        </li>

        <li>
          <a href="/phong-sach-luc-nua-dem/chuong-154" title="Phòng Sách Lúc Nửa Đêm - Chương 154: Mau sớm tỉnh ngộ!">
            Chương 154: Mau sớm tỉnh ngộ!
          </a>
        </li>


      </ul>
    </div>
  </div>
</div>