<div class="detail-top">
  <span typeof="v:Breadcrumb">
    <a [routerLink]="'/'" alt="Doc sach" title="Đọc sách" target="_blank">Truyện nhiều</a>
  </span> <i class="truyenn-icon_small_next"></i>
  <span typeof="v:Breadcrumb">
    <a [routerLink]="book.category.url" [title]="book.category.name" target="_blank">{{book.category.name}}</a>
  </span>
</div>
<h1 class="hl-name-book">{{book.title}}</h1>
<div class="detail-header">
  <div class="book-thum">
    <a [routerLink]="book.url" class="img-left">
      <div class="box-absolute fn-shadow">
        <div class="img">
          <img [src]="book.image" [alt]="book.title">
        </div>
        <span class="item-mask-bg"></span>
      </div>
    </a>
  </div>
  <div class="book-list-field">
    <div class="l-book-list-field">
      <div class="info-book">
        <div class="l-if-book">Tác giả</div>
        <div class="r-if-book">
          <a [routerLink]="book.authorUrl" [title]="book.title">{{book.author}}</a>
        </div>
      </div>
      <div class="info-book">
        <div class="l-if-book">Thể loại</div>
        <div class="r-if-book">
          <a [routerLink]="'/the-loai/ngon-tinh/5bdec27dc551731a60abe1ff'" title="thể loại Ngôn Tình">Ngôn Tình</a>,
          <a [routerLink]="'/the-loai/do-thi/5bdec27dc551731a60abe201'" title="thể loại Đô Thị">Đô Thị</a>
        </div>
      </div>

      <div class="info-book">
        <div class="l-if-book">Trạng thái</div>
        <div class="r-if-book"><span class="status-chapter full">{{status}}</span></div>
      </div>
      <div class="info-book">
        <div class="l-if-book">Like ngay</div>
        <div class="r-if-book">
        </div>
      </div>
      <div class="btn-list-action">
        <a [routerLink]="'/chuong/xin-chao-thieu-tuong-dai-nhan-1'" class="btn-action btn-readbook btn-fist-read">Đọc Từ Đầu</a>
        <a [routerLink]="'/chuong/xin-chao-thieu-tuong-dai-nhan-1'" class="btn-action  btn-readbook btn-new-chapter">Đọc Mới Nhất</a>
      </div>
    </div>
    <div class="list-new-chapter">
      <div class="title-chapter">Các chương mới nhất</div>
      <ul class="list-chapter">
        <li *ngFor="let item of book.lastChapter">
          <a [routerLink]="item.link" [title]="item.name">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>