<div class="header" id="bodyread">
  <div class="wrap">
    <div class="container">
      <a [routerLink]="'/'" class="box-logo" title="Đọc truyện online, truyện gì cũng có">
        <img src="assets/images/truyennhieu-logo.svg" class="img-svg" title="Đọc truyện online, truyện gì cũng có"
          alt="Đọc truyện online, truyện gì cũng có" />
      </a>
      <div class="navbar-menu">
        <ul class="left-menu mainmenu">
          <li class="active"><a [routerLink]="'/'" rel="dofollow" title="Trang chủ"><span class="icon-home"></span></a></li>
          <li>
            <a title="Thể loại">Thể loại</a>
            <div class="mainmenu-topbar hide">
              <div class="main-menu-more">
                <div class="menu-show-full-cate">
                  <ul class="list-menu">
                    <li *ngFor="let item of menus">
                      <a [routerLink]="item.url" [title]="item.name">{{item.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a [routerLink]="'/category'" rel="dofollow" title="Kiếm Hiệp">Kiếm Hiệp</a>
          </li>
          <li>
            <a [routerLink]="'/book'" rel="dofollow" title="Ngôn Tình">Ngôn Tình</a>
          </li>
        </ul>
      </div>
      <a (click)="showSearchBar()" class="btn-search-icon"
        [ngStyle]="{'display': displaySearchBar ? 'none' : 'unset' }"></a>
      <div class="fun_search" id="fun_search" [ngStyle]="{'display': displaySearchBar ? 'unset' : '' }">
        <div class="box-input">
          <input id="txtSearch" type="text" class="i-search" value="" placeholder="Nhập tên sách hoặc tác giả" />
        </div>
        <a class="b-search" (click)="onSubmitSearch()" title="Tìm kiếm"></a>
        <a (click)="hideSearchBar()" class="btn-txt-cancel-search" title="Hủy search" rel="nofollow">Hủy</a>
      </div>
    </div>
  </div>
</div>