@charset "utf-8";
html,
body,
div,
object,
pre,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
cite,
del,
a,
img,
ul,
li,
ol,
dl,
dt,
dd,
fieldset,
legend,
form,
input,
button,
textarea,
header,
section,
footer,
article,
nav,
aside,
menu,
figure,
figcaption {
  margin: 0;
  padding: 0;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
sup {
  font-size: 100%;
  font-weight: normal;
}
fieldset,
img {
  border: 0;
}
mark {
  background: transparent;
}
.clr {
  clear: both;
}
header,
section,
footer,
article,
nav,
aside,
menu {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
li {
  list-style: none;
}
em {
  font-style: normal;
}
label,
input,
button,
textarea {
  border: none;
  vertical-align: middle;
  color: #141414;
}
html,
body {
  width: 100%;
}
html {
  -webkit-text-size-adjust: none;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #f3f4f5;
  margin: 0;
}
.link-main-color {
  color: #212121;
}
.link-main-color:hover {
  color: #bb3129;
}
.color-output-data {
  color: #bb3129;
}

.link-sblue {
  font-size: 13px;
  color: #1e72b8 !important;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.link-sblue:hover {
  color: #f7882c;
  text-decoration: underline !important;
}

a {
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  -moz-transition: color 200ms ease, background-color 200ms ease;
  -o-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  text-decoration: none !important;
}
.font-title a {
  font-weight: 600;
  color: #333333;
}
a,
li,
input,
button,
textarea {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  resize: none;
  font-size: 1rem;
}
.pg-top84 {
  padding-top: 84px !important;
  position: relative;
}
.pg-top44 {
  padding-top: 42px !important;
  position: relative;
}
.box-posrela {
  margin: 0 12px;
  position: relative;
}
.hide {
  display: none;
}
.noneborder {
  border: 0;
}
.txt-data-out {
  color: #f00;
}
input,
select,
textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 13px;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
  border-color: #bb3129;
}
.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 12px;
  height: 43px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
select {
  border: 1px solid #c7c7c7;
  color: #333333;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  text-indent: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear;
  backface-visibility: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
table {
  font-size: 14px;
  color: #333333;
  border-width: 1px;
  border-color: #e9e9e9;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table th,
table td {
  border-width: 1px;
  padding: 12px 5px;
  border-style: solid;
  border-color: #e6e6e6;
}
tr th {
  font-weight: bold;
  background-color: #ffcd48;
  border-color: #f1bb2b;
}
tr:hover {
  background-color: #f5f5f5;
}
td {
  text-align: center;
}
.disabin {
  background: #f2f2f2 !important;
}
.btn {
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  backface-visibility: hidden;
}
.btn:active {
  background-color: #1770a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.info-nodata {
  margin: 0 12px;
  text-align: center;
  font-size: 13px;
  color: #212121;
  font-weight: 300;
  padding: 10px 0;
}
.btn-action {
  text-decoration: none;
  background: #bb3129;
  color: #fff;
  font-size: 13px;
  padding: 8px 15px;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  backface-visibility: hidden;
}
.btn-action:hover,
.btn-action:focus {
  background: #d65149;
}
.btn-action:active {
  background: #a9241c;
}
.btn-boder-action {
  text-decoration: none;
  background: #fff;
  border: #bb3129 solid 1px;
  color: #bb3129;
  font-size: 13px;
  padding: 9px 15px;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  backface-visibility: hidden;
}
.btn-boder-action:hover,
.btn-boder-action:focus {
  background: #d65149;
  color: #fff;
}
.btn-boder-action:active {
  background: #a9241c;
}
.status-chapter {
  color: #f00;
}
.status-chapter.full {
  color: #8cb805;
}
body > .wrap {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
}
body .wrap .container {
  position: relative;
}
.box-content {
  float: left;
  width: 100%;
  margin: 0px 0 0 0;
}
.item-mask-bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0 );
}
.c-image-hover img {
  -webkit-transition: transform 0.5s, filter 0.5s;
  -moz-transition: transform 0.5s, filter 0.5s;
  -o-transition: transform 0.5s, filter 0.5s;
  transition: transform 0.5s, filter 0.5s;
}
/*css public*/
.tile-main-title {
  width: 100%;
  position: relative;
  height: 37px;
}
.tile-main-title .box-icon {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  margin-right: 20px;
  background: #bb3129;
  text-align: center;
  vertical-align: middle;
}
.tile-main-title .box-icon i {
  font-size: 18px;
  width: 36px;
  height: 36px;
  background: #eb3349;
  background: -webkit-linear-gradient(left, #eb3349 40%, #f45c43);
  background: -o-linear-gradient(right, #eb3349 40%, #f45c43);
  background: -moz-linear-gradient(right, #eb3349 40%, #f45c43);
  background: linear-gradient(to right, #eb3349 40%, #f45c43);
  color: #fff;
  position: relative;
  margin-right: 16px;
  margin-bottom: -2px;
  vertical-align: middle;
  display: inline-block;
}
.tile-main-title .box-icon i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tile-main-title .box-icon i:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #f45c43;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.name-book {
  font-size: 13px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.name-book:hover,
.name-book.active {
  color: #bb3129;
}
.name-author {
  font-size: 12px;
  color: #747474;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.name-author:hover,
.name-author.active {
  color: #bb3129;
}
.name-chapter {
  font-size: 12px;
  color: #1e72b8;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.name-chapter:hover,
.name-chapter.active {
  text-decoration: underline !important;
}
.box-icon .truyenn-icon_chart {
  color: #fff;
  float: left;
  font-size: 18px;
  height: 20px;
  width: 20px;
  margin: 9px 0 0 8px;
}
.box-icon .truyenn-icon-new {
  color: #fff;
  float: left;
  font-size: 36px !important;
  height: 20px;
  width: 24px;
  margin: 12px 0 0 4px;
  line-height: 20px;
}
.nodata {
  float: left;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}
.nodata .img {
  float: left;
  width: 100%;
  padding: 0px 0;
  margin: 0px 0 15px 0;
  text-align: center;
}
.nodata .img img {
  width: 90px;
}
.nodata .txt-show-info {
  float: left;
  width: 80%;
  padding: 0 10%;
  text-align: center;
  margin: 10px 0;
  text-align: center;
  font-size: 0.9rem;
}
.tile-main-title .box-txt-show {
  height: 36px;
  left: 36px;
  border-bottom: #ececec solid 1px;
  position: absolute;
  right: 0;
}
.tile-main-title .box-txt-show.noicon {
  left: 0;
}
.tile-main-title .box-txt-show.noicon h2,
.tile-main-title .box-txt-show.noicon h3 {
  border-bottom: #bb3129 solid 0;
}
.tile-main-title .box-txt-show h2,
.tile-main-title .box-txt-show h3 {
  margin: 0px 0 0 0;
  float: left;
  font-size: 20px;
  color: #212121;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 600;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
.tile-main-title .box-txt-show h2 a,
.tile-main-title .box-txt-show h3 a {
  padding: 0 0 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
}
.tile-main-title .box-txt-show h2 a:after,
.tile-main-title .box-txt-show h3 a:after {
  content: "\e907";
  font-family: "truyenn" !important;
  font-size: 16px;
  color: #1e72b8;
  vertical-align: middle;
  margin-left: 10px;
  float: right;
  margin-top: 5px;
}
.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  max-height: 35px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ellipsis-h242 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 24px;
  max-height: 48px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  max-height: 51px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  max-height: 72px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ellipsis-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  max-height: 96px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.fn-shadow {
  -moz-box-shadow: 1px 2px 8px rgba(1, 3, 3, 0.16);
  -webkit-box-shadow: 1px 2px 8px rgba(1, 3, 3, 0.16);
  box-shadow: 0 2px 8px rgba(1, 3, 3, 0.16);
}
.fn-shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.26);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.26);
  width: 70%;
  left: 15%;
  height: 10px;
  bottom: 0;
}
.link-obj {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.box-title-main {
  float: left;
  width: 100%;
}
.detail-title-box {
  float: left;
  width: 100%;
  padding: 0 0;
  border-bottom: #ececec solid 1px;
  margin-bottom: 10px;
  position: relative;
}
.detail-title-box .title-select-name {
  float: left;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: #bb3129 solid 2px;
  padding: 10px 0;
}

.navbar-menu {
  height: 54px;
  position: absolute;
  left: 220px;
  top: 0;
}
.navbar-menu .left-menu {
  float: left;
  width: auto;
}
.navbar-menu .left-menu li {
  float: left;
  width: auto;
}
.navbar-menu .left-menu .icon-home:before {
  content: "\e900";
  font-family: "truyenn" !important;
  font-size: 16px;
  color: #ffffff;
  line-height: 54px;
}
.navbar-menu .left-menu a {
  transition: all 0.3s ease-in-out;
  float: left;
  line-height: 54px;
  font-size: 14px;
  font-weight: 500;
  color: #f9f8f8;
  padding: 0 15px;
  text-transform: capitalize;
  border-right: #fbbd1a solid 0px;
  border-left: #ffd668 solid 0px;
}
.navbar-menu .left-menu li:hover,
.navbar-menu .left-menu li.active {
  background: #a6150c;
}
.navbar-menu .left-menu li:hover .mainmenu-topbar {
  display: block;
}
.navbar-menu .left-menu a:nth-last-child(1) {
  border-right: #fbbd1a solid 0px !important;
}
.navbar-menu .main-menu-more {
  position: absolute;
  z-index: 10001;
  top: 54px;
  margin-left: 0px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0 0 4px 4px;
  padding: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
}
.navbar-menu .main-menu-more .menu-show-full-cate {
  padding: 15px 10px;
  float: left;
  min-width: 320px;
  box-sizing: border-box;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul {
  float: left;
  margin-right: 0px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul.col-1 {
  width: 160px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul.col-2 {
  width: 330px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul.col-3 {
  width: 520px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul .title-name-group {
  float: left;
  width: 100%;
  color: #747474;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: #ececec solid 1px;
  padding: 10px 0 0px 0;
  margin-bottom: 5px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul .title-name-group .name-group {
  float: left;
  border-bottom: #ffcd48 solid 1px;
  padding: 0 0 11px 0;
  margin-bottom: -1px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul li:hover {
  background: none;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul li a:hover {
  background: none;
  color: #bb3129;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul li {
  float: left;
  width: 33.33%;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul .group-name-title {
  width: 100%;
  float: left;
  padding: 0 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul li a {
  float: left;
  line-height: 18px;
  color: #212121;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 400;
  border-bottom: #fff solid 2px;
  margin-bottom: 5px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul li a:hover,
.navbar-menu .main-menu-more .menu-show-full-cate ul li a.active {
  color: #bb3129;
  border-bottom: #bb3129 solid 2px;
  color: #bb3129;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul.boder-bottom {
  border-bottom: #ccc solid 1px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.navbar-menu .main-menu-more .menu-show-full-cate ul.item-full li {
  float: left;
  width: 100%;
}

.navbar-breadcrumb {
  width: 100%;
  height: 36px;
  background: #ffffff;
  margin-bottom: 0;
  border-bottom: #dddddd solid 1px;
}
.navbar-breadcrumb .title-trending {
  float: left;
  line-height: 36px;
  margin-right: 5px;
  color: #212121;
  font-size: 13px;
}
.navbar-breadcrumb .title-trending:before {
  content: "\e903";
  font-family: "truyenn" !important;
  float: left;
  font-size: 14px;
  margin-right: 8px;
  color: #9f224e;
}
.navbar-breadcrumb a {
  line-height: 36px;
  font-size: 13px;
  padding: 0 8px;
}
.box-top-novel {
  width: 100%;
  background: #ffffff;
  float: left;
  padding-top: 20px;
}
.right-slect-field {
  float: right;
  width: auto;
}
/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}
.custom-select-wrapper .custom-select {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -18px;
  min-width: 150px;
  border-radius: 0;
}
.custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 34px 0 20px;
  font-size: 13px;
  color: #212121;
  font-weight: bold;
  line-height: 24px;
  margin-top: 3px;
  cursor: pointer;
  border: 0px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  width: 200px;
  display: block;
  top: 100%;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  margin: 10px 0;
  border: 0px solid #b5b5b5;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #333536;
  border-radius: 4px;
  -moz-box-shadow: 0 0px 8px rgba(3, 3, 3, 0.2);
  -webkit-box-shadow: 0 0px 8px rgba(3, 3, 3, 0.2);
  box-shadow: 0 0px 8px rgba(3, 3, 3, 0.2);
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 1000;
  padding: 10px 0;
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 15px;
  border-bottom: 0px solid #b5b5b5;
  font-size: 13px;
  color: #212121;
  line-height: 32px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f5f5f5;
}
.book-doctruyen {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  background: #f5f5f5;
}
.book-doctruyen .doctruyen-item {
  float: left;
  width: 100%;
  padding: 10px 10px 0;
  box-sizing: border-box;
}
.book-doctruyen .doctruyen-item ul {
  float: left;
  width: 100%;
}
.book-doctruyen .doctruyen-item ul li {
  padding: 5px 0;
  float: left;
  width: 100%;
}
.book-doctruyen .doctruyen-item ul li .box-book-info {
  float: left;
  width: 100%;
}

.book-doctruyen .doctruyen-item .box-book-info h3 {
  float: left;
  width: 100%;
  padding: 0px 0 3px 0;
}
.book-doctruyen .doctruyen-item .box-book-info h3 .name-book {
  font-size: 13px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  line-height: 18px;
  max-height: 36px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.book-doctruyen .doctruyen-item .box-book-info .name-chapter {
  border: 1px solid #ebebeb;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 200ms ease;
  transition: border-color 200ms ease;
  margin-right: 10px;
}

.book-doctruyen .doctruyen-item .box-book-info .name-chapter:hover {
  color: #ffffff;
  background: #bb3129;
  text-decoration: none !important;
}
.book-doctruyen .doctruyen-item .box-book-info .time-update {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}
.book-chart ul li .box-book-info .list-chapter .item-chapter a:hover {
  color: #ffffff;
  background: #bb3129;
  text-decoration: none !important;
}
.book-chart ul li .box-book-info .list-chapter .item-chapter .time-update {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}

/*RATING.CSS BEGIN*/
.funtion-rating {
  color: #fec311;
  margin-bottom: 5px;
  line-height: 16px;
  float: left;
  width: 100%;
  text-align: center;
  border: #f00 solid 0;
  padding: 0;
  box-sizing: border-box;
}
.rating {
  direction: rtl;
  text-align: left;
  padding-top: 2px;
}
.rating input {
  display: none;
}
.rating label:before {
  font-size: 22px;
  font-family: "truyenn" !important;
  display: inline-block;
  margin-right: 3px;
  content: "\e916";
}
.rating label {
  color: #ddd; /*position: absolute;*/
}
.ratingSelector input:checked ~ label, /* show gold star when clicked */
.ratingSelector label:hover, /* hover current star */
.ratingSelector label:hover ~ label {
  color: #bb3129;
}
.ratingSelector input:checked + label:hover, /* hover current star when changing rating */
.ratingSelector input:checked ~ label:hover,
.ratingSelector label:hover ~ input:checked ~ label, /* lighten current selection */
.ratingSelector input:checked ~ label:hover ~ label {
  color: #bb3129;
}
.ratingSelector {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.rating .txt-data-rating {
  float: left;
  color: #747474;
  font-size: 12px;
  margin-left: 0;
  direction: ltr;
  text-align: center;
  width: 100%;
}
.rating .txt-data-rating.v5 {
  color: #d40054;
}
.rating .txt-data-rating.v4 {
  color: #1abc9c;
}
.rating .txt-data-rating.v3 {
  color: #eb6653;
}
.rating .txt-data-rating.v2 {
  color: #212121;
}
.rating .txt-data-user {
  float: left;
  color: #747474;
  font-size: 12px;
  margin-left: 5px;
  direction: ltr;
  font-style: italic;
  text-align: center;
  width: 100%;
}
.box-page-view {
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px 0 10px 0;
  border-top: #ececec solid 0px;
}
.box-page-view a {
  color: #212121;
  font-size: 13px;
  border: #c2c2c2 solid 1px;
  font-weight: 400;
  padding: 6px 10px;
  margin: 0px 3px 10px 3px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box-page-view a:hover {
  border: #bb3129 solid 1px;
}
.box-page-view a.active {
  color: #ffffff;
  background: #bb3129;
  border: #bb3129 solid 1px;
}
.box-page-view.page-chapter {
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-top: #ececec solid 1px;
  background: #f5f5f5;
}
.box-page-view.page-chapter a {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.box-page-view.page-chapter .wiread-icon_small_back,
.box-page-view.page-chapter .wiread-icon_small_next {
  float: left;
  margin: 3px 0 0 0;
}
.html-info {
  float: left;
  width: 100%;
  padding: 10px 0 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.html-info .des-info-detail {
  float: left;
  width: 100%;
}
.html-info .des-info-detail .des-info {
  float: left;
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
}
.html-info .des-info-detail .des-info p {
  float: left;
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 12px;
}

.search-author-list {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.search-author-list ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 100%;
}
.search-author-list ul li {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}
.search-author-list ul li .img-left {
  float: left;
  width: 60px;
  margin-right: 20px;
}
.search-author-list ul li .box-absolute {
  position: relative;
  width: 60px;
  height: 60px;
}
.search-author-list ul li .item-mask-bg {
  display: none;
}
.search-author-list ul li .box-absolute:hover .item-mask-bg {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-author-list ul li .box-absolute .img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.search-author-list ul li .box-absolute .img img {
  width: 100%;
  height: 100%;
}
.search-author-list ul li .box-author-info {
  float: left;
  width: calc(100% - 90px);
  line-height: 60px;
  height: 60px;
}
.search-author-list ul li .box-author-info h3 {
  width: 100%;
  padding: 0px 0 0 0;
  line-height: 60px;
}
.search-author-list ul li .box-author-info h3 .name-author {
  font-size: 13px;
  line-height: 60px;
  display: block;
}
.search-author-list.list-view ul {
  float: left;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  width: 100%;
}

.author-info {
  float: left;
  width: 100%;
  padding: 10px 0 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.author-info .top-author {
  float: left;
  width: 100%;
  padding: 0px 0;
}
.author-info .top-author .img {
  float: left;
  width: 150px;
  margin: 0 20px 0 0;
}
.author-info .top-author .img img {
  width: 100%;
}
.author-info .top-author .box-name-author {
  float: left;
  width: calc(100% - 170px);
}
.author-info .top-author .box-name-author h1 {
  float: left;
  font-size: 22px;
  margin: 0 0 10px 0;
  width: 70%;
}
.author-info .top-author .box-name-author h1 a {
  font-size: 16px;
  color: #212121;
  font-weight: bold;
}
.author-info .top-author .fun-social {
  margin: 0 0 0 0;
  width: 190px;
  text-align: right;
  float: right;
}
.author-info .top-author .fun-social .soci-porel {
  z-index: 10;
  right: 5px;
}
.author-info .des-info-author {
  float: left;
  width: calc(100% - 170px);
}
.author-info .des-info-author .des-info {
  float: left;
  width: 100%;
  font-size: 13px;
  text-align: justify;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  max-height: 210px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.author-info .des-info-author .btn-full-info-author {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  padding: 5px 0;
}

.html-info {
  float: left;
  width: 100%;
  padding: 10px 0 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.html-info .des-info-detail {
  float: left;
  width: 100%;
}
.html-info .des-info-detail .des-info {
  float: left;
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box !important;
  max-height: 210px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

@media (max-width: 1199px) {
  .readcontent {
    width: 100% !important;
  }
  .reading-des .prelative {
    padding: 20px 15px 20px 15px;
  }
  .read-breadcrumb .breadcrumb-content {
    padding: 0 20px 3px 20px;
    box-sizing: border-box;
  }
  .navbar-menu {
    left: 0;
    width: 100%;
  }
  .reading-des {
    margin-bottom: 50px;
  }
  .top-button .btn-setting-read,
  .top-button .btn-chapter-read {
    display: none !important;
  }
  .navbar-menu .main-menu-more {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9998;
    display: block;
    bottom: 0;
    top: 54px;
    overflow: scroll;
  }
  .navbar-menu .main-menu-more .menu-show-full-cate {
    width: 100%;
    padding: 10px 15px 10px 15px;
  }
  .navbar-menu .main-menu-more .menu-show-full-cate ul.boder-bottom {
    border-bottom: #ccc solid 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  /*begin Index*/
  .navbar-breadcrumb {
    margin-top: 54px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .navbar-breadcrumb .title-trending {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    float: left;
    width: 100%;
  }
  /*begin truyen hot*/
  .box-top-intro ul li.onetop {
    width: 100%;
    height: 164px;
    border-bottom: #ececec solid 1px;
    margin-bottom: 15px;
  }
  .box-top-intro ul li.onetop .img-left {
    width: 100px;
    height: 146px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .box-top-intro ul li.onetop .box-absolute {
    width: 100px;
    height: 146px;
  }
  .box-top-intro ul li.onetop .box-book-info {
    width: calc(100% - 150px) !important;
  }
  .box-top-intro ul li.onetop .info-book {
    float: left;
    font-size: 13px;
    margin-top: 10px;
    display: block;
  }
  .list-scroll-mobile {
    overflow-x: scroll;
    margin: auto;
    width: 100%;
    float: left;
  }
  .full-scr {
    display: inline-flex;
    padding-left: 10px;
  }
  .box-top-intro ul li {
    margin-left: 0;
    margin-right: 15px;
    width: 100px;
  }
  .box-top-intro ul li .box-absolute {
    width: 100px;
    height: 146px;
  }
  .box-top-intro ul li .box-absolute .img {
    width: 100px;
    height: 146px;
  }
  .box-top-intro ul li .box-absolute .img img {
    width: 100%;
    height: 100%;
  }

  /*update*/
  .book-chart ul {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .book-chart ul li .box-book-info {
    width: calc(100% - 112px);
  }
  .book-chart ul li .box-book-info.full-w {
    width: calc(100% - 31px);
  }
  /*end Index*/

  /*Begin Cate*/
  .mb-fullpage .hl-cate-name {
    margin-top: 50px;
    padding: 0 10px;
  }

  .detail-title-box {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .author-info .top-author .box-name-author h1 {
    width: 100%;
  }
  .author-info .top-author .img {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .author-info .top-author .img img {
    width: 100px;
  }
  .author-info .top-author .box-name-author {
    width: 100%;
  }
  .author-info .top-author .box-name-author h1 {
    width: 100%;
  }
  .author-info .top-author .box-name-author h1 a {
    width: 100%;
    text-align: center;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  .author-info .des-info-author {
    width: 100%;
    text-align: center;
  }
  .author-info .top-author .fun-social {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .author-info .top-author .fun-social .soci-porel {
    position: inherit;
    float: left;
    width: 100%;
    text-align: left;
    text-align: center;
  }

  .search-author-list.list-view {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .author-info .top-author {
    padding: 0 10px;
    box-sizing: border-box;
  }
  /*End Cate*/

  .html-info {
    padding: 10px 10px 0 10px;
  }
  .html-info .des-info-detail {
    float: left;
    width: 100%;
  }
  .html-info .des-info-detail .des-info {
    float: left;
    width: 100%;
    font-size: 13px;
    text-align: justify;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 210px;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
  .error-page {
    padding: 50px 0;
  }
  .error-page .top-error {
    padding: 0 5%;
  }
  .error-page .img-404 img {
    width: 180px;
    text-align: center;
  }
  .error-page .hl-page {
    font-size: 24px;
  }
  .error-page .top-error p {
    font-size: 13px;
  }
  .error-page .top-error p a:hover {
    text-decoration: underline !important;
  }
  .error-page .box-search-error {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .error-page .box-search-error .error-input {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }
  .error-page .box-search-error .i-box-search-error {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
  }
  .error-page .box-search-error .b-box-search-error {
    height: 30px;
    padding: 0 40px;
  }
  .error-page .box-search-error .b-box-search-error:hover {
    background: #a6150c;
  }
}

@font-face {
  font-family: "truyenn";
  src: url('./assets/fonts/truyenn.eot');
  src: local('truyenn');
  src: url('./assets/fonts/truyenn.eot') format('embedded-opentype');
  src: url('./assets/fonts/truyenn.ttf') format('truetype');
  src: url('./assets/fonts/truyenn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="truyenn"],
[class*=" truyenn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "truyenn" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.truyenn-icon-home:before {
  content: "\e900";
}
.truyenn-icon_book:before {
  content: "\e901";
}
.truyenn-icon_hot:before {
  content: "\e903";
}
.truyenn-icon_selective:before {
  content: "\e904";
}
.truyenn-icon_small_back:before {
  content: "\e905";
}
.truyenn-icon_small_down:before {
  content: "\e906";
}
.truyenn-icon_small_next:before {
  content: "\e907";
}
.truyenn-icon_small_up:before {
  content: "\e908";
}
.truyenn-icon-delete:before {
  content: "\e90a";
}
.truyenn-icon-check:before {
  content: "\e90b";
}
.truyenn-icon-add:before {
  content: "\e90c";
}
.truyenn-icon-menu:before {
  content: "\e90d";
}
.truyenn-icon-report:before {
  content: "\e90e";
}
.truyenn-icon-share:before {
  content: "\e90f";
}
.truyenn-icon-share-fb:before {
  content: "\e910";
}
.truyenn-icon-share-link:before {
  content: "\e911";
}
.truyenn-icon-share-other:before {
  content: "\e912";
}
.truyenn-icon-star:before {
  content: "\e915";
}
.truyenn-icon-star-full:before {
  content: "\e916";
}
.truyenn-icon-star-half:before {
  content: "\e917";
}
.truyenn-icon_view_list:before {
  content: "\e919";
}
.truyenn-icon_view_row:before {
  content: "\e91a";
}
.truyenn-icon_calendar:before {
  content: "\e91c";
}
.truyenn-icon_comment:before {
  content: "\e91d";
}
.truyenn-icon_close:before {
  content: "\e91f";
}
.truyenn-icon_gift:before {
  content: "\e922";
}
.truyenn-icon_fee:before {
  content: "\e925";
}
.truyenn-icon-like:before {
  content: "\e926";
}
.truyenn-icon_like_comment:before {
  content: "\e927";
}
.truyenn-icon-info:before {
  content: "\e928";
}
.truyenn-icon-user-v2:before {
  content: "\e929";
}
.truyenn-icon-info-help:before {
  content: "\e92a";
}
.truyenn-icon-alert-warning:before {
  content: "\e92b";
}
.truyenn-icon-alert-info-v2:before {
  content: "\e92c";
}
.truyenn-icon-check-option:before {
  content: "\e92d";
}
.truyenn-icon-setting:before {
  content: "\e92f";
}
.truyenn-icon-bookmark:before {
  content: "\e933";
}
.truyenn-icon-bookmark-active:before {
  content: "\e934";
}
.truyenn-icon-clock:before {
  content: "\e937";
}
.truyenn-icon_feedback:before {
  content: "\e93f";
}
.truyenn-icon_copyright:before {
  content: "\e941";
}
.icon-coin-stack:before {
  content: "\e942";
}
.truyenn-icon-light-bulb:before {
  content: "\e943";
}
.truyenn-icon_notification:before {
  content: "\e945";
}
.truyenn-icon-notifications:before {
  content: "\e946";
}
.truyenn-icon-notifications-90:before {
  content: "\e947";
}
.truyenn-icon-tick-list:before {
  content: "\e948";
}
.truyenn-icon-cp-logout:before {
  content: "\e94b";
}
.truyenn-icon-time:before {
  content: "\e94c";
}
.truyenn-icon-update-chap:before {
  content: "\e94d";
}
.truyenn-icon-phone:before {
  content: "\e953";
}
.truyenn-icon-eye:before {
  content: "\e954";
}
.truyenn-icon-gift-v2:before {
  content: "\e955";
}
.truyenn-icon-trending:before {
  content: "\e956";
}
.truyenn-icon-bookcase:before {
  content: "\e957";
}
.truyenn-icon-search:before {
  content: "\e958";
}
.truyenn-icon-library-books:before {
  content: "\e95a";
}
.truyenn-icon-info2:before {
  content: "\e95b";
}
.truyenn-icon-two-quotes:before {
  content: "\e95c";
}
.truyenn-icon-lover-list:before {
  content: "\e95d";
}
.truyenn-icon-translate:before {
  content: "\e95e";
}
.truyenn-icon-notebook-love:before {
  content: "\e95f";
}
.truyenn-icon-menu-v2:before {
  content: "\e961";
}
.truyenn-icon-share-fb-v2:before {
  content: "\e962";
}
.truyenn-icon-night:before {
  content: "\e965";
}
.truyenn-icon-more-funtion:before {
  content: "\e966";
}
.truyenn-icon-drawing-pin:before {
  content: "\e967";
}
.truyenn-icon-crown:before {
  content: "\e968";
}
.truyenn-icon-hourglass:before {
  content: "\e969";
}

.box-adsen {
  width: 100%;
  background: #ffffff;
  float: left;
  padding-top: 20px 0;
}
.show-adsen {
  width: 100%;
  position: relative;
  text-align: center;
}
