<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="label-ft">Thể loại hot</div>
          <ul>
            <li>
              <a [routerLink]="'/'" title="Truện Đô Thị">Đô Thị</a>
            </li>
            <li>
              <a [routerLink]="'/'" title="Truện Đô Thị">Đô Thị</a>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <div class="keyword-fran">
            <div class="label-ft">Top từ khóa</div>
            <div class="">
              <a [routerLink]="'/'" title="Trọng Sinh">Trọng Sinh</a>
              <a [routerLink]="'/'" title="Truện Đô Thị">Đô Thị</a>
              <a [routerLink]="'/'" title="Chọc Tức Vợ Yêu">Chọc Tức Vợ Yêu</a>
              <a [routerLink]="'/'" title="Truyện Ngược">Truyện Ngược</a>
              <a [routerLink]="'/'" title="Trọng Sinh">Trọng Sinh</a>
              <a [routerLink]="'/'" title="Truyện Âm Hưởng">Truyện Âm Hưởng</a>
              <a [routerLink]="'/'" title="Truện Đô Thị">Đô Thị</a>
              <a [routerLink]="'/'" title="Chọc Tức Vợ Yêu">Chọc Tức Vợ Yêu</a>
              <a [routerLink]="'/'" title="Truyện Ngược">Truyện Ngược</a>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="keyword-fran">
            <div class="label-ft">Lời giới thiệu</div>
            <div class="des-info">
              <p>
                <strong>Truyện Nhiều</strong> -
                <a [routerLink]="'/'" title="Đọc truyện online">Đọc truyện</a> online,
                <a [routerLink]="'/'" title="Đọc truyện chữ">đọc truyện</a> chữ,
                <a [routerLink]="'/'" title="Truyện hay">truyện hay</a>.
                Website luôn cập nhật những bộ <a [routerLink]="'/danh-sach/truyen-moi'"
                  title="Truyện mới">truyện mới</a> một cách nhanh nhất.
              </p>
              <p>Tất cả các truyện trên site đều được đọc giả sưu tầm từ các nguồn trên mạng, chúng tôi
                không chịu bất cứ trách nhiệm nào về vấn đề bản quyền tác giả. </p>
              <p>Nếu các bạn đọc truyện nào thấy có nội dung liên quan đến vấn đề chính trị hoặc có nội
                dung không lành mạnh vui lòng liên hệ truyennhieu.com@gmail.com để chúng tôi xóa bỏ
                truyện khỏi trang web. Chân thành cảm ơn.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="end-footer">
    <div class="container">
      <ul>
        <li><a rel="nofollow" [routerLink]="'/'">Giới thiệu</a></li>
        <li><a rel="nofollow" [routerLink]="'/'">Điều khoản sử dụng</a></li>
        <li><a rel="nofollow" [routerLink]="'/'">Chính sách riêng tư</a></li>
        <li><a rel="nofollow" [routerLink]="'/'">Liên hệ</a></li>
      </ul>
      <p>Copyright © 2020 LongZi.com. All rights reserved</p>
    </div>
  </div>
</footer>