<div class="navbar-breadcrumb">
  <div class="wrap">
    <div class="container">
      <span class="title-trending">
        Đọc truyện online, đọc truyện chữ, truyện full, truyện hay. Tổng hợp truyện gì cũng có và cập nhật liên tục.
      </span>
    </div>
  </div>
</div>

<app-box-full-book [title]="hots.title" [data]="hots.data"></app-box-full-book>
<app-box-full-book [title]="bestauthor.title" [data]="bestauthor.data"></app-box-full-book>

<div class="box-top-novel">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-9">
        <app-new-comic></app-new-comic>
      </div>
      <div class="col-md-12 col-xl-3">
        <app-top-view></app-top-view>
      </div>
    </div>
  </div>
</div>

<app-box-full-book [title]="completed.title" [data]="completed.data"></app-box-full-book>