@import "../../../assets/theme/theme-variables";

.cate-left-menu {
  background: #f5f5f5;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  ul {
    float: left;
    width: 100%;
  }
  ul li {
    float: left;
    width: 50%;
  }
  ul .group-name-title {
    width: 100%;
    float: left;
    padding: 0 0;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  ul li a {
    float: left;
    color: #72727b;
    font-size: 13px;
    padding: 4px 0;
    font-weight: 400;
    border-bottom: #f5f5f5 solid 2px;
    margin-bottom: 5px;
  }
  ul li a:hover,
  ul li a.active {
    color: $primary-color;
    border-bottom: $primary-color solid 2px;
    color: $primary-color;
  }

  ul.boder-bottom {
    border-bottom: #ccc solid 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  ul.item-full li {
    float: left;
    width: 100% !important;
  }
}
@media (max-width: 1199px) {
  .cate-left-menu {
    position: fixed;
    z-index: 9998;
    display: block;
    bottom: 0;
    top: 54px;
    overflow: scroll;
    display: none;
  }
}
@media (min-width: 1200px) {
  .cate-left-menu {
    width: calc(22% - 20px);
    float: left;
    display: block;
    margin: 0 20px 0 0;
  }
}
